{% extends 'transformer/base.html' %}

{% block content %}
<div class="jumbotron col-md-6 offset-md-3 col-sm-10 offset-sm-1">
  <a class="btn btn-secondary btn-sm float-right" href="status/">Service Status</a>
  <h1 class="display-4">Aquarius</h1>
  <p class="lead">A proof-of-concept microservice to fetch data from Aurora, then transform and deliver it to ArchivesSpace.</p>
  <hr class="my-4">
  <div>
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg mb-2 mr-2" href="transform/">Transform Accessions</a>
    <a class="btn btn-primary btn-lg mb-2 mr-2" href="source_objects/">Source Objects</a>
    <a class="btn btn-primary btn-lg mb-2 mr-2" href="consumer_objects/">Consumer Objects</a>
    {% else %}
    <a class="btn btn-primary btn-lg mb-2 mr-2" href="{% url 'rest_framework:login' %}?next={% url 'home' %}">Login</a>
    {% endif %}
  </div>
</div>
<div class="fixed-bottom bg-light">
  <p class="text-center mt-1 mb-1"><small>Image from <em>kitab suwar al-kawakib (book of fixed stars)</em> by Abd al-Rahman al-Sufi, 1260-1280.</small></p>
</div>
{% endblock %}
