# Local config file - rename to config.py

ARCHIVESSPACE = {
  "baseurl": "http://localhost:8089/",
  "username": "admin",
  "password": "admin",
  "repo_id": 2,
}

URSA_MAJOR = {
  "baseurl": "http://ursa-major-web:8005/",
}

AURORA = {
  "baseurl": "http://web:8000/api/",
  "username": "admin",
  "password": "password"
}
